


{% extends 'layout.html.twig' %}


{% block title %} {{ parent()}} - Accueil {% endblock %}

{% block body %}


<h1>Question {{ id }}</h1> 
 
    <ul>

          <li>Label : {{ label }}</li>
          <li>Level : {{ level }}</li>
          <li>Réponse possible :</li>
                     {% for answer in answers %}
                     <ul>
                        <li>{{ answer.getLabelAnswer() }}</li>
                     </ul>
                     {% else %}
                     <ul>
                        <li>Aucune réponse</li>
                     </ul>

                    {% endfor %}
    </ul> 

{% endblock %}

{% block bottom_js %}
       
{% endblock %}