{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}}
	- Accueil
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="assets/css/users.css"/>
{% endblock %}


{% block body %}
	<div class="container">

		<h1>Liste des utilisateur</h1>


		{% if session.user.role == 1 %}
			<div class="tablediv">
				<table id="usersTable"></table>
			</div>
		{% endif %}

		<div id="snackbar"></div>

		{% if session.user.role == 0 %}
			<div class="tablediv">
				<table>
					<thead>
						<tr>
							<th>Username</th>
							<th>Email</th>
							<th>Role</th>
							<th>Firstname</th>
							<th>Lastname</th>
						</tr>

					</thead>
					<tbody>

						{% for user in users %}

							<tr id='{{user.getIdUser()}}'>
								<td id="username">{{user.getUsername()}}</td>
								<td id="email">{{ user.getEmail() }}</td>
								<td id="role">{{ user.getRole() }}</td>
								<td id="firstName">{{ user.getFirstname() }}</td>
								<td id="lastName">{{ user.getLastname() }}</td>
							</tr>

						{% else %}
							<tr>
								<td>Aucun utilisateur</td>
								<td></td>
								<td></td>
								<td></td>
								<td></td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		{% endif %}
	</div>

{% endblock %}


{% block bottom_js %}
	{% if session.user.role == 1 %}
		<script type="text/javascript" src="assets/js/users.js"></script>
	{% endif %}
{% endblock %}
