{% extends 'layout.html.twig' %}

{% block title %}
	{{ parent()}}
	- Accueil
{% endblock %}


{% block body %}

	<style>
		table {
			font-family: arial, sans-serif;
			border-collapse: collapse;
			width: 100%;
		}

		td,
		th {
			border: 1px solid #dddddd;
			text-align: left;
			padding: 8px;
		}

		tr:nth-child(even) {
			background-color: #dddddd;
		}
	</style>

	<h1>Liste des utilisateur</h1>


	<div style="overflow-x:auto;">
		<table>
			<tr>
				<th>Username</th>
				<th>Email</th>
				<th>Role</th>
				<th>Firstname</th>
				<th>Lastname</th>
				<th>Creation date</th>
				{% if session.user.role == 1 %}
					<th>Modifier</th>
					<th>Supprimer</th>
				{% endif %}
			</tr>


			{% for user in users %}

				<tr id='{{user.getIdUser()}}'>
					<td id="username">{{user.getUsername()}}</td>
					<td id="email">{{ user.getEmail() }}</td>
					<td  id="role">{{ user.getRole() }}</td>
					<td id="firstName">{{ user.getFirstname() }}</td>
					<td id="lastName">{{ user.getLastname() }}</td>
					<td id="createdAt">{{ user.getCreatedAt().format('Y-m-d H:i:s') }}</td>
					{% if session.user.role == 1 %}
						<td><button class="modify" id='{{user.getIdUser()}}'>Modifier</button></td>
						<td><button class="delete" id='{{user.getIdUser()}}'>Supprimer</button></td>
					{% endif %}
				</tr>

			{% else %}
				<tr>
					<td>Aucun utilisateur</td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			{% endfor %}
		</table>
	</div>

{% endblock %}
 
{% block bottom_js %}<script type="text/javascript" src="assets/js/users.js"></script>{% endblock %}

